body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  //clear: left;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.rotate {
  display: block;
  float:left;
  position: relative;
  font-size: 25px;
  /*background-image:
    linear-gradient(
      to bottom,
      #cccc00,
      yellow 10%,
      yellow 90%,
      #cccc00
    );*/
  border-color: #ffffff;
  border-style: solid;
  height: 120px;
  width: 500px;
  padding: 10px;
  //transform: translateX(1000px);
  transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  position:absolute;
  top: 0px;
  left: 0px;
}

.book-short {
  display: block;
  float:left;
  font-size: 25px;
  /*background-image:
    linear-gradient(
      to bottom,
      #cccc00,
      yellow 10%,
      yellow 90%,
      #cccc00
    );*/
  border-color: #ffffff;
  border-style: solid;
  height: 120px;
  width: 300px;
  padding: 10px;
  //transform: translateX(1000px);
  transform: rotate(90deg);
  transform-origin: left bottom 0;
  bottom: 0;
  left: 0px;
}
.book-normal {
  display: block;
  float:left;
  font-size: 25px;
  background-image:
    linear-gradient(
      to bottom,
      rgba(50,50,50,1),
      rgba(255,0,0,0) 5%,
      rgba(255,0,0,0) 95%,
      rgba(100,100,100,1)
    );
  border-color: #ffffff;
  border-style: solid;
  height: 120px;
  width: 500px;
  padding: 10px;
  //transform: translateX(1000px);
  transform: rotate(90deg);
  transform-origin: left bottom 0;
//  position:absolute;
  bottom: 0;
  left: 0px;
}
//.book-tall
//.book-wide
//.book-skinny

.book {
  display: block;
  float:left;
  //position: relative;
  width: 140px;
  height: 520px;
  margin: 5px;
  margin-bottom: 100px; // makes sure that there's room for the "bookshelf underneath"
  transform: translateY(-150px); // move up the element to take into account
  //the fact that it was spun from its bottom left corner
}

.book:after {
  position: fixed;
  float: left;
	content: "";
	height: 100px;
  width: 110%;
  background-image: url(asset_path("wood-texture.jpg"));
  background-size:100%;
  //background-color: #6F4242;
//  transform: translateY(650px);
  transform: translateX(-500px);
}

.book2 {
  position: relative;
  display: inline-block;
  float: bottom;
  margin: 0 5px;
  background-image:
    linear-gradient(
      to right,
      rgba(50,50,50,1),
      rgba(255,0,0,0) 10%,
      rgba(255,0,0,0) 90%,
      rgba(100,100,100,1)
    );
  margin-bottom: 100px; // provides room for the bookshelf
}

.rotate2 {
  transform: translateX(-50%) translateY(-50%) rotate(90deg);
  text-align:center;
  position: absolute;
  top: 50%;
  left: 50%;
}

.shelf {
  height: 100px;
  background-image: url(asset_path("wood-texture.jpg"));
  background-size:100%;
  position: absolute;
  top: 100%;
  left: -10px;
}

.title {
  font-size: 30px;
}

.author {
  font-size: 20px;
}

.bookshelf {
}

.group:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
}
