// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login_or_signup {
  background: url(asset_path("books-large-image.jpg")) no-repeat center center fixed;
  object-fit: none;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // background-size: cover;
}

.login_or_signup .container {
  position: absolute;
  left: 25vw;
  top: 25vh;
  width: 50%;
  background-color: #cccccc;
  opacity: 0.9;
  text-align: center;
  border-radius: 2px;
}
