// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.book {
  position: relative;
  display: inline-block;
//  float: bottom;
  margin-bottom: 120px; // provides room underneath the bookshelf for the next row
  margin-right: -5px; // removes gaps between books due to inline-block settings
//  padding: 8px;
  box-sizing: border-box;
  border-radius: 30px 30px 0 0/8px 8px 0 0; // adds rounded tops
}

.spine_text {
//  position: absolute;
  text-shadow: 1px 1px #220F22;
  opacity: 0.9; // makes the text look a little worn
  text-align: center;
//  height: inherit;
  //width:inherit;
  box-sizing: border-box;
  font-size: 35px;
//  padding-right: 13px;
//  padding: 8px;
}

.rotate {
  transform: translateX(-50%) translateY(-50%) rotate(90deg);
//  text-align:center;
  position: absolute;
  top: 50%;
  left: 50%;
  //padding-right: 5px;
  width: inherit;
  height: inherit;
  padding: 8px;
  box-sizing: border-box;
  text-align: center;
}

.standard {

  position: absolute;
  top:25%;
  width: inherit;
  height: 100%;
  padding: 8px;
  box-sizing: border-box;
  text-align: center;
//  padding-right: 5px;
}

// .book::before {
//   content: "";
//   display: block;
//   position: absolute;
//   left: 0;
//   border-radius: 30px 30px 0 0/8px 8px 0 0;
//   width: 100%;
//   height: 16px;
//   background: inherit;
//   background-image:
//     linear-gradient(
//       to right,
//       rgba(50,50,50,0.7),
//       rgba(50,50,50,0.5) 10%,
//       rgba(50,50,50,0.3) 50%,
//       rgba(255,0,0,0) 90%,
//       rgba(50,50,50,0.3)
//     );
// //  left: 0;
//   top: -15px;
// }

.book::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  background-image:
    linear-gradient(
      to right,
      rgba(50,50,50,0.7),
      rgba(50,50,50,0.5) 10%,
      rgba(50,50,50,0.3) 50%,
      rgba(255,0,0,0) 90%,
      rgba(50,50,50,0.3)
    );
  width: 100%;
  height: 100%;
  border-radius: 30px 30px 0 0/8px 8px 0 0;
}


.shelf {
  height: 80px;
  background-color: #220F22;
  background-size:100%;
  position: absolute;
  top: 100%;
  border-radius: 4px;

  // make the shelf piece a little wider and then shift it to the left half that
  // amount
  width: calc(100% + 60px);
  left: -30px;
}

.title {
  display: inline-block;
  font-size: 100%;
  font-family: 'Merriweather';
  box-sizing: border-box;
}

.author {
  display: inline-block;
  font-family: 'Lato';
  font-size: 60%;
  vertical-align: bottom;
  box-sizing: border-box;
}

.bookshelf {
  margin: 40px;
  text-align: center;
}

.group:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
}
